<!DOCTYPE html>
<html>
<head>
  <title>Users:<%= controller.action_name %></title>
  <%= stylesheet_link_tag    "depot", :media => "all" %>
</head>
<body>

<div id="main">
  <%=yield :layout %>
</div>

</body>
</html>
